@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
::placeholder, button, input{
  font-family: 'Ubuntu', sans-serif;
}
::selection{
  background: black;
  color: white;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.darkmode--activated {
  ::selection{
    background: white;
    color: black;
  }

  .remodal.remodal-task.remodal-task-modify{
      .remodal-task-title{
        input{
          background: #202327;
          color: white;
        }
      }
      .remodal-task-description{
        textarea{
          background: #202327;
          color: white;
        }
      }
      .remodal-task-informations{
        .remodal-task-categories{
          input{
            background: #202327;
            color: white;
          }
        }
        .remodal-task-date{
          button{
            background: #202327;
            color: white;
          }
        }
      }
  }
  .container{
    .task-form{
      background: #16181C !important;
      -webkit-box-shadow: 4px 4px 10px 3px #252525;
      -moz-box-shadow: 4px 4px 10px 3px #252525;
      box-shadow: 4px 4px 10px 3px #252525;
      .task-form-title{
        input{
          background: #202327;
          color: white;
        }
      }
      .task-informations{
        background: #202329;
      }
      .task-description{
        textarea{
          box-shadow: none;
          background: #202327;
          color: white;
        }
      }
      
    }
    .tasks-content{
      .task{
        background: #E9E7E2;
        -webkit-box-shadow: 4px 4px 10px 3px #C2C2C2;
        -moz-box-shadow: 4px 4px 10px 3px #C2C2C2;
        box-shadow: 4px 4px 10px 3px #C2C2C2;
        .task-brand{
          .task-brand-title{
            .radio-container {
              .checkmark {
                isolation: isolate;
                border: none;
                background-color: white;
              }
              .checkmark::after{
                top: 7px;
                left: 7px;
                background-color: black;
              }
                input:checked ~ .checkmark {
                background-color: white;
              }
              
          }
          }
        }
        .task-content{
          .task-content-description{
            p{
              isolation: isolate;
              color: white;
            }
          }
          .task-content-informations{
            .task-content-informations-categories{
              span{
                isolation: isolate;
                color: black;
              }
              
            }
          }
          
        }
        
      }
    }
  }
}


.container{
  width: 90%;
  height: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .task-form{
    width: 100%;
    height: 530px;
    background: white;
    -webkit-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    -moz-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin: 0px 10px;
    isolation: isolate;
    .task-form-title{
    input{
      width: 100%;
      padding: 15px 15px;
      border: 1px solid #DADADA;
      outline: none;
      border-radius: 10px;
    }
  }
  .task-informations{
    margin-top: 20px;
    width: 100%;
    background: #F7F8F9;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    .select {
      position: relative;
      min-width: 200px;
    }
    .select svg {
      position: absolute;
      right: 12px;
      top: calc(50% - 3px);
      width: 10px;
      height: 6px;
      stroke-width: 2px;
      stroke: #9098a9;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      pointer-events: none;
    }
    .select select {
      -webkit-appearance: none;
      padding: 7px 40px 7px 12px;
      width: 100%;
      border: 1px solid #e8eaed;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 1px 3px -2px #9098a9;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;
    }
    .select select:required:invalid {
      color: #5a667f;
    }
    .select select option {
      color: #223254;
    }
    .select select option[value=""][disabled] {
      display: none;
    }
    .select select:focus {
      outline: none;
      border-color: #dadada;
      box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
    }
    .select select:hover + svg {
      stroke: black;
    }
    .sprites {
      position: absolute;
      width: 0;
      height: 0;
      pointer-events: none;
      user-select: none;
    }
    
    .task-informations-categories{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      h2{
        font-size: 20px;
        color: #82878F;
        font-weight: 400;
      }
    }
    .task-informations-date{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px;
      
      h2{
        font-size: 20px;
        color: #82878F;
        font-weight: 400;
      }
    }
  }
  .task-description{
    margin-top: 20px;
    textarea{
      width: 100%;
      resize: none;
      height: 200px;
      border-radius: 10px;
      padding: 15px 15px;
      outline: none;
      box-shadow: 1px 1px 5px 2px #dadada;
      border: none; 
    }
    ::placeholder{
      color: #82878F;
    }
  }
  .task-button{
    margin-top: 20px;
    button{
      width: 100%;
      padding: 15px 0px;
      border: none;
      background: black;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      transition: .5s ease-out;
    }
    :hover{
      transform: scale(1.02);
    }
  }
  }

  .tasks-content{
    width: 100%;
    height: 530px;
    max-height: 540px;
    overflow: auto;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0px 10px;
    // background: white;
    // -webkit-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    // -moz-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    // box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
    // padding: 30px 20px 20px 20px;
    a{
      text-decoration: none;
      color: black;
    }
    .task{
      width: 100%;
      margin: 10px auto;
      background: white;
      -webkit-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
      -moz-box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
      box-shadow: 4px 4px 22px 8px rgba(218,218,218,1);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      .task-brand{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        .task-brand-title{
          display: flex;
          align-items: center;
          .radio-container {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            .checkmark {
              position: absolute;
              top: 0;
              margin-top: -12px;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: white;
              border-radius: 50%;
              border: 1px solid #e8eaed;
              box-shadow: 0 1px 3px -2px #9098a9;
              transition: .5s ease-out;
            }
          }
            .radio-container:hover input ~ .checkmark {
              background-color: #ccc;
            }
            .radio-container input:checked ~ .checkmark {
              background-color: black;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }
            .radio-container input:checked ~ .checkmark:after {
              display: block;
            }
            .radio-container .checkmark:after {
              top: 6px;
              left: 6px;
              width: 11px;
              height: 11px;
              border-radius: 50%;
              background: white;
            }
          h3{
            margin-left: 40px;
          }
        }
        .task-brand-edit{
          button{
            -webkit-appearance: none;
            padding: 7px 20px 7px 20px;
            width: 10px;
            border: 1px solid #e8eaed;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 1px 3px -2px #9098a9;
            cursor: pointer;
            font-size: 16px;
            transition: all 150ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .task-content{
        display: flex;
        flex-direction: column;
        .task-content-description{
          padding: 10px 15px;
          color: #5a667f;
          a{
            color: #5a667f;
          }
          p{
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
        .task-content-informations{
          padding: 15px;
          display: flex;
          justify-content: space-between;
          .task-content-informations-time{
            i{
              margin-right: 10px;
            }
          }
          .task-content-informations-categories{
            span{
              background: #dadada;
              padding: 5px 15px;
              border-radius: 5px;
              color: #223254;
            }
          }
          
        }
      }
    }
  }

}


// remodal style

.remodal.remodal-task{
  .remodal-close{
    background: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
  }
}
.remodal-task-title{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  h3{
    margin-left: 20px;
    font-size: 32px;
  }
  input{
    margin-left: 20px;
    font-size: 32px;
    width: 95%;
    padding: 15px 15px;
    border: 1px solid #DADADA;
    outline: none;
    border-radius: 10px;
  }
}
.remodal-task-description{
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  textarea{
    width: 98%;
    resize: none;
    height: 200px;
    border-radius: 10px;
    padding: 15px 15px;
    outline: none;
    border: 1px solid #DADADA;
  }
}
.remodal-task-modify{
  .remodal-task-informations{
    .remodal-task-categories{
      width: 100%;
    }
    .remodal-task-date{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      i{
        margin-right: 35px;
      }
      button{
        -webkit-appearance: none;
        padding: 7px 12px 7px 12px;
        border: 1px solid #e8eaed;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 1px 3px -2px #9098a9;
        cursor: pointer;
        font-family: inherit;
        font-size: 16px;
        transition: all 150ms ease;
      }
    }
  
  }
  .remodal-task-buttons{
    .modif-btn{
      padding: 15px 20px;
      background: #353535;
      color: white ;
      border: none;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
      transition: .5s ease-out;
    }
  }
}
.remodal-task-informations{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  .remodal-task-categories{
    display: flex;
    align-items: center;
    i{
      font-size: 20px;
      margin-right: 15px;
    }
    input{
      margin-left: 20px;
      font-size: 18px;
      width: 90%;
      padding: 15px 15px;
      border: 1px solid #DADADA;
      outline: none;
      border-radius: 10px;
    }
  }
  .remodal-task-date{
    margin-top: 20px;
    i{
      font-size: 20px;
      margin-right: 10px;
    }
    input{
      margin-left: 20px;
      font-size: 18px;
      width: 90%;
      padding: 15px 15px;
      border: 1px solid #DADADA;
      outline: none;
      border-radius: 10px;
    }
  }
}
.remodal-task-buttons{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  .remove-btn{
    padding: 15px 20px;
    background: #DA0037;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-out;
  }
  :hover{
    transform: scale(1.02);
  }
  .finish-btn{
    padding: 15px 20px;
    background: #49da36;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-out;
  }
  :hover{
    transform: scale(1.02);
  }
}


// Darkmode exception 
.darkmode--activated .task-form .task-form-title i{
  color: white;
}

@media(min-width: 850px){
  .container{
    flex-direction: row;
    margin-top: 0px;
    .task-form{
      width: 400px;
    }
    .tasks-content{
      margin-top: 0px;
      width: 60%;
    }
  }
  
}