@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
}

:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
}

::placeholder, button, input {
  font-family: "Ubuntu", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 90%;
  height: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .task-form {
  width: 100%;
  height: 530px;
  background: white;
  box-shadow: 4px 4px 22px 8px #dadada;
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  margin: 0px 10px;
}
.container .task-form .task-form-title input {
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #DADADA;
  outline: none;
  border-radius: 10px;
}
.container .task-form .task-informations {
  margin-top: 20px;
  width: 100%;
  background: #F7F8F9;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.container .task-form .task-informations .select {
  position: relative;
  min-width: 200px;
}
.container .task-form .task-informations .select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.container .task-form .task-informations .select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.container .task-form .task-informations .select select:required:invalid {
  color: #5a667f;
}
.container .task-form .task-informations .select select option {
  color: #223254;
}
.container .task-form .task-informations .select select option[value=""][disabled] {
  display: none;
}
.container .task-form .task-informations .select select:focus {
  outline: none;
  border-color: #dadada;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.container .task-form .task-informations .select select:hover + svg {
  stroke: black;
}
.container .task-form .task-informations .sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .task-form .task-informations .task-informations-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.container .task-form .task-informations .task-informations-categories h2 {
  font-size: 20px;
  color: #82878F;
  font-weight: 400;
}
.container .task-form .task-informations .task-informations-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.container .task-form .task-informations .task-informations-date h2 {
  font-size: 20px;
  color: #82878F;
  font-weight: 400;
}
.container .task-form .task-description {
  margin-top: 20px;
}
.container .task-form .task-description textarea {
  width: 100%;
  resize: none;
  height: 200px;
  border-radius: 10px;
  padding: 15px 15px;
  outline: none;
  box-shadow: 1px 1px 5px 2px #dadada;
  border: none;
}
.container .task-form .task-description ::-moz-placeholder {
  color: #82878F;
}
.container .task-form .task-description :-ms-input-placeholder {
  color: #82878F;
}
.container .task-form .task-description ::placeholder {
  color: #82878F;
}
.container .task-form .task-button {
  margin-top: 20px;
}
.container .task-form .task-button button {
  width: 100%;
  padding: 15px 0px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease-out;
}
.container .task-form .task-button :hover {
  transform: scale(1.02);
}
.container .tasks-content {
  width: 100%;
  height: 530px;
  max-height: 540px;
  overflow: auto;
  border-radius: 10px;
  margin-top: 30px;
  padding: 0px 10px;
}
.container .tasks-content .task {
  width: 100%;
  margin: 10px auto;
  background: white;
  box-shadow: 4px 4px 22px 8px #dadada;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.container .tasks-content .task .task-brand {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.container .tasks-content .task .task-brand .task-brand-title {
  display: flex;
  align-items: center;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container .checkmark {
  position: absolute;
  top: 0;
  margin-top: -12px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e8eaed;
  box-shadow: 0 1px 3px -2px #9098a9;
  transition: 0.5s ease-out;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container input:checked ~ .checkmark {
  background-color: black;
}
.container .tasks-content .task .task-brand .task-brand-title .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container input:checked ~ .checkmark:after {
  display: block;
}
.container .tasks-content .task .task-brand .task-brand-title .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}
.container .tasks-content .task .task-brand .task-brand-title h3 {
  margin-left: 40px;
}
.container .tasks-content .task .task-brand .task-brand-edit button {
  -webkit-appearance: none;
  padding: 7px 20px 7px 20px;
  width: 10px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-size: 16px;
  transition: all 150ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .tasks-content .task .task-content {
  display: flex;
  flex-direction: column;
}
.container .tasks-content .task .task-content .task-content-description {
  padding: 10px 15px;
  color: #5a667f;
}
.container .tasks-content .task .task-content .task-content-description p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.container .tasks-content .task .task-content .task-content-informations {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.container .tasks-content .task .task-content .task-content-informations .task-content-informations-time i {
  margin-right: 10px;
}
.container .tasks-content .task .task-content .task-content-informations .task-content-informations-categories span {
  background: #dadada;
  padding: 5px 15px;
  border-radius: 5px;
  color: #223254;
}

.darkmode--activated .task-form .task-form-title i {
  color: white;
}

@media (min-width: 850px) {
  .container {
    flex-direction: row;
    margin-top: 0px;
  }
  .container .task-form {
    width: 400px;
  }
  .container .tasks-content {
    margin-top: 0px;
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */